/*左侧菜单栏开始*/
.main_topic{
    height: 480px;
    background: pink;
}
.main_menu{
    width: 190px;
    height: 480px;
    background: #6C6669;
    float: left;
}
.main_menu ul {
    padding: 15px 0;
}
.main_menu li {
    font: 400 14px/30px "mircrosoft yahei";
    color: #fff;
}
.main_menu li a{
    font: 600 14px/30px "mircrosoft yahei";
    color: #fff;
    margin: 3px;
}
/*左侧菜单栏结束*/
/*轮播图开始*/
.banner{
    float: left;
    position: relative;
    margin-bottom: 10px;
    height: 340px
}
.arrow_l{
    position: absolute;
    width: 28px;
    height: 62px;
    top: 50%;
    left: 0;
    margin-top: -31px;
    color: #fff;
    font: 500 18px/62px "宋体";
    text-align: center;
    background: rgba(0,0,0,.2);
}
.arrow_r{
    position: absolute;
    width: 28px;
    height: 62px;
    top: 50%;
    right: 0;
    margin-top: -31px;
    color: #fff;
    font: 500 18px/62px "宋体";
    text-align: center;
    background: rgba(0,0,0,.2);
}
.scroll_point {
    position: absolute;
    left: 40px;
    bottom: 35px;
}
.scroll_point li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    float: left;
    margin-right: 12px;
}
.scroll_point .scroll_selected{
    background-color: #DB192A;
}
.banner_bottom{
}
.banner_bottom a{
    float: left;
    margin-top: 10px ;
}
.banner_bottom .banner_r{
    margin-left: 10px;
}
/*轮播图结束*/